@import "tailwindcss";

body {
    background: #202B3B;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    width: 1400px;
}

.container-fluid {
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.nav-active{
    color: #66C0F4;
}

.main-nav-list li:hover{
    color: #66C0F4;
    transition: all 0.3s ease-in-out;
}

.help:hover, .view:hover, .minimize i:hover, .crop i:hover, .cross i:hover, .nav-social button:hover i {
    cursor: pointer;
    color: white !important;
    transition: all 0.3s ease-in-out;
}