@import "tailwindcss";

body {
    background: #202B3B;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container {
    width: 1400px;
}

.container-fluid {
    width: 100%;
}

a{
    text-decoration: none;
    color: white;
}

.nav-active{
    color: #66C0F4;
}

